.backgroundBlock {
    background-image: url("../../../assets/products/layout-background/shop-1.jpg");
    position: relative;
    width: 100%;
    padding: 114px 60px 105px 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.backgroundBlock:before {
    padding-top: 114px;
    padding-bottom: 120px;
    position: absolute;
    content: '';
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0.93;
}


.productTitle {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 46px;
    line-height: 60px;
    font-weight: 700;
}


.overProductsItem {
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 450px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}


.overProductsItem:hover {
    background-color: #263881;
    color: #FFFFFF;
}

.overProductsItem:hover h3 {
    color: #FFFFFF;
}

.overProductsItem h3:hover {
    color: #058dff;
}

.overProductsItem:hover p {
    color: #FFFFFF;
}

.overProductsItem:hover img {
    transform: rotate(10deg);
}

.overProductsItem img {
    margin-top: -60px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    width: 70%;
    transition: all 0.4s;
}

.overProductsItem h3 {
    max-height: 20px;
    text-align: center;
    margin-top: 15px;
    color: #222;
    font-size: 22px;
    line-height: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    transition: all 0.3s;
}

.overProductsItem p {
    margin-top: 70px;
    max-height: 10px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #8c8c8c;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

@media (min-width: 992px)and (max-width: 1199.9px) {
    .productTitle{
        text-align: center;
        margin-top: 50px;
        padding: 0;
    }
    .backgroundBlock {
        padding: 0px 60px 105px 60px;
    }
    .overProductsItem:before {
        display: none;
    }
    .overProductsItem {
        margin-bottom: 30px;
    }
    .overProductsItem img {
        margin-top: -50%;
        margin-bottom: 20px;
        width: 150px;
    }
    .overProductsItem p {
        font-size: 18px;
        margin-top: 70px;
    }
    .overProductsItem {
        height: 450px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px)and (max-width: 991.9px) {
    .productTitle{
        text-align: center;
        margin-top: 50px;
        padding: 0;
    }
    .backgroundBlock {
        padding: 0px 60px 105px 60px;
    }
    .overProductsItem:before {
        display: none;
    }
    .overProductsItem {
        margin-bottom: 30px;
    }
    .overProductsItem img {
        margin-top: -10%;
        margin-bottom: 20px;
        width: 200px;
    }
}

@media (min-width: 576px)and (max-width: 767.9px) {
    .productTitle{
        margin-top: 50px;
        padding: 0;
    }

    .backgroundBlock {
        padding: 25px 60px 105px 60px;
    }
    .productWrapperTitle:after {
        width: 300px;
        top: -28px;
    }

    .productTitle {
        font-size: 38px;
        line-height: 50px;
        font-weight: 700;
        text-align: center;
    }

    .overProductsItem {
        height: 500px;
        margin-bottom: 30px;
    }

    .overProductsItem img {
        margin-top: -50%;
        margin-bottom: 20px;
        width: 150px;
    }

    .overProductsItem h3 {
        margin-top: 15px;
        font-size: 18px;
    }

    .overProductsItem p {
        font-size: 18px;
        margin-top: 80px;
    }

    .overProductsItem:before {
        display: none;
    }
}

@media (min-width: 1px)and (max-width: 575.9px) {

    .backgroundBlock {
        padding: 25px 60px 105px 60px;
    }

    .productWrapperTitle:after {
        width: 300px;
        top: -28px;
    }

    .productTitle {
        font-size: 38px;
        line-height: 50px;
        font-weight: 700;
        text-align: center;
    }

    .overProductsItem {
        height: 450px;
        margin-bottom: 30px;
    }

    .overProductsItem img {
        margin-top: -20%;
        margin-bottom: 20px;
        width: 150px;
    }

    .overProductsItem h3 {
        margin-top: 15px;
        font-size: 18px;
    }

    .overProductsItem p {
        font-size: 18px;
        margin-top: 60px;
    }

    .overProductsItem:before {
       display: none;
    }
}