.backgroundBlock {
    padding-top: 150px;
    padding-bottom: 120px;
    background-image: url("../../assets/company/backgroundPhotoOne.jpg");
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.backgroundBlock:before {
    padding-top: 114px;
    padding-bottom: 120px;
    position: absolute;
    content: '';
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0.93;
}

.companyTitleBox {

}

.companyTitleBox h1 {
    text-align: center;
    color: #222222;
    font-family: 'Nunito', sans-serif;
    font-size: 46px;
    line-height: 60px;
    font-weight: 800;
    margin-bottom: 18px;
}

.companyTitleBox p {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #848484;
    text-transform: uppercase;
    margin-bottom: 18px;
    letter-spacing: 3px;
}

.DespcriptionBox {
    padding: 50px;
    padding-top: 150px;

}

.DespcriptionBox h3 {
    font-size: 26px;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 31px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: #222222;
}

.DespcriptionBox p {
    font-family: 'Rubik', sans-serif;
    color: #8c8c8c;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.DespcriptionBox p img {
    width: 100px;
    margin-bottom: 20px;
}

.wrapperBoxImages {
    position: relative;

}

.wrapperBoxImages img {
    max-width: 100%;
    margin-top: 300px;
}


@media (min-width: 768px)and (max-width: 991.9px) {
    .backgroundBlock {
        padding-top: 70px;
    }

    .companyTitleBox h1 {
        font-size: 38px;
    }

    .companyTitleBox p {
        font-size: 24px;
    }

    .DespcriptionBox {
        padding: 0;
    }

    .DespcriptionBox h3 {
        font-size: 38px;
        text-align: center;
    }

    .DespcriptionBox p {
        font-size: 24px;
        text-align: center;
    }

    .wrapperBoxImages img {
        display: none;
    }

    .dazaSery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dazaSery img {
        margin-top: 35px;
    }
}

@media (min-width: 576px)and (max-width: 767.9px) {

    .backgroundBlock {
        padding-top: 30px;
    }

    .companyTitleBox h1 {
        font-size: 32px;
    }

    .companyTitleBox p {
        font-size: 20px;
    }

    .DespcriptionBox {
        padding: 0;
    }

    .DespcriptionBox h3 {
        text-align: center;
    }

    .DespcriptionBox p {
        text-align: center;
    }

    .wrapperBoxImages img {
        display: none;
    }

    .dazaSery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dazaSery img {
        margin-top: 35px;
    }
}

@media (min-width: 1px)and (max-width: 575.9px) {

    .backgroundBlock {
        padding-top: 30px;
    }

    .companyTitleBox h1 {
        font-size: 20px;
    }

    .companyTitleBox p {
        font-size: 14px;
    }

    .DespcriptionBox {
        padding: 0;
    }

    .DespcriptionBox h3 {
        text-align: center;
    }

    .DespcriptionBox p {
        text-align: center;
    }

    .wrapperBoxImages img {
        display: none;
    }

    .dazaSery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dazaSery img {
        margin-top: 35px;
    }
}