
.footerWrapper {
    width: 100%;
    background-image: url("../../assets/footer/background.jpg");
    background-attachment: fixed;
    background-origin: padding-box;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
    font-size: 18px;
}

.wrapperContent {
    padding-top: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    margin-top: -80px;
    width: 300px;
}

.wrapperContent p{
    color: #FFFFFF;
    font-size: 22px;
}
@media (min-width: 1px)and (max-width: 575.9px) {
    .wrapperContent {
        padding-top: 100px;
        text-align: center;
    }
}
@media (min-width: 576px)and (max-width: 767.9px) {

}

@media (min-width: 768px)and (max-width: 991.9px) {

}
