
.footerWrapper {
    width: 97.85%;
    background-image: url("../../assets/footer/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000000;
    font-size: 18px;
}

.wrapperContent {
    padding-top: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    margin-top: -80px;
    width: 300px;
}

.wrapperContent p{
    color: #FFFFFF;
}