
.footerWrapper{
    border-top-right-radius: 130px;
    border-top-left-radius: 130px;
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #0b79a9 0%, #ffffff 64%);
    color: #000000;
    font-size: 18px;
}

.wrapperContent{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}